services:
  localstack:
    image: localstack/localstack:s3-latest
    ports:
      - "127.0.0.1:${LOCALSTACK_PORT-4566}:4566"
    environment:
      - DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - DEBUG=1

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - POSTGRES_DB
    ports:
      - "127.0.0.1:${POSTGRES_PORT-5432}:5432"
  