services:
  localstack:
    image: localstack/localstack:s3-latest
    ports:
      - "127.0.0.1:${LOCALSTACK_PORT-4566}:4566"
    environment:
      - DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - DEBUG=1
    healthcheck:
      test: [ "CMD-SHELL", "curl http://localhost:4566/_localstack/health" ]
      timeout: 1s
      interval: 1s
      retries: 5

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $POSTGRES_DB -U $POSTGRES_USER" ]
      timeout: 1s
      interval: 1s
      retries: 5
    ports:
      - "127.0.0.1:${POSTGRES_PORT-5432}:5432"
  